.maincontent {
    width: 100%;
    margin-left: 15%;
    overflow-y: auto;
    height: calc(100vh - 3.5em);
}

#userlogin {
    margin: 1.5em 0 0 1em;
    font-size: 1.3em;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    margin: .8em auto;
    width: 96%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 5em;
}

.formemail, .formpassword {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 1em;
}

.formemail p, .formpassword p {
    font-size: .8em;
    margin-bottom: .5em;
}

.formemail input, .formpassword input, .form button {
    padding: .8em .4em;
    border: 1px solid #DCDCDA;
    border-radius: 3px;
}

::placeholder {
    color: #DCDCDA;
    padding-left: .5em;
}

.form button {
    background-color: #2E5A82;
    color: #DCDCDA;
    border: 1px solid #DCDCDA;
    border-radius: 3px;
    width: 100%;
}

.form button:hover {
    cursor: pointer;
}

#forgotPassword {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-size: small;
}

#forgotPassword:hover {
    cursor: pointer;
}

/* Responsive */
@media (min-width: 300px) and (max-width: 988px) {
    body {
        overflow-y: hidden;
    }

    .main {
        flex-direction: column;
    }

    .navbar {
        order: 1;
        width: 100%;
        height: 5em;
    }

    #none, .iconnavbar svg {
        display: none;
    }

    .textnavbar {
        width: 100%;
        margin-left: -1em;
        flex-direction: row;
        justify-content: space-around;
    }

    .maincontent {
        margin-top: 5em;
        margin-left: 0em;
        order: 2;
    }
}